<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Scavengers</title>
		<link rel="stylesheet" type="text/css" href="CSS/scavenger.css">
		<script type="text/javascript" src="JS/jquery-3.1.1.min.js"></script>
	</head>

	<body>
		<div id="topbar" style="background-image: url('Files/bkg-22.png');">
			<a href="main.handlebars"><img class = "logo" id ="sitelogo" src="Files/font_logo.png" alt="lol"></a>	
		</div>
		<div id="menu_bar"> 
		<ul> 
                <li><a href=""><img class = "logo" id ="nike" src="Files/nike.png" alt="lol"></a></li>
                    
                <li><a href=""><img class = "logo" id ="adidas" src="Files/adidas.png" alt="lol"></a></li>
                    
                <li><a href=""><img class = "logo" id ="khols" src="Files/khols.png" alt="lol"></a></li>
                    
                <li><a href=""><img class = "logo" id ="timberland" src="Files/timberland.png" alt="lol"></a></li>
                    
                <li><a href=""><img class = "logo" id ="diesel" src="Files/diesel.png" alt="lol"></a></li>
                    
                <li><a href=""><img class = "logo" id ="anf" src="Files/anf.png" alt="lol"></a></li>
                    
                <li><a href=""><img class = "logo" id ="asics" src="Files/asics.png" alt="lol"></a></li>
                    
                <li><a href=""><img class = "logo" id ="uniqlo" src="Files/uniqlo.png" alt="lol"></a></li>
        </ul>

        </div>

	{{{body}}}
	</body>
	<script type="text/javascript">
		var proportionNotCorrect = function(x, y) {
			return x/y > 3 || y/x > 3;
		}

		$("div > a > img").each(function(){
			console.log($(this)[0].naturalHeight, $(this)[0].naturalWidth);
			if ($(this).attr('class') !== "logo") {
				if($(this)[0].naturalHeight < 350 && $(this)[0].naturalHeight < 350) {
					$(this).parent().parent().hide();
				} else if (proportionNotCorrect($(this)[0].naturalHeight, $(this)[0].naturalWidth)){
					$(this).parent().parent().hide();
				}
			}
		});
	</script>
</html>