<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Scavengers</title>
		<link rel="stylesheet" type="text/css" href="CSS/scavenger.css">
	</head>

	<body>
		<div id="topbar" style="background-image: url('Files/bkg-22.png');">
			<a href="main.handlebars"><img id ="logo" src="Files/font_logo.png" alt="lol"></a>	
		</div>
		<div id="menu_bar"> 
		<ul> 
                <li><a href=""><img id ="nike" src="Files/nike.png" alt="lol"></a></li>
                    
                <li><a href=""><img id ="adidas" src="Files/adidas.png" alt="lol"></a></li>
                    
                <li><a href=""><img id ="khols" src="Files/khols.png" alt="lol"></a></li>
                    
                <li><a href=""><img id ="timberland" src="Files/timberland.png" alt="lol"></a></li>
                    
                <li><a href=""><img id ="diesel" src="Files/diesel.png" alt="lol"></a></li>
                    
                <li><a href=""><img id ="hm" src="Files/h&m.png" alt="lol"></a></li>
                    
                <li><a href=""><img id ="asics" src="Files/asics.png" alt="lol"></a></li>
                    
                <li><a href=""><img id ="uniqlo" src="Files/uniqlo.png" alt="lol"></a></li>
        </ul>

        </div>

    	<div id="grid">
			<img src="Files/pic1.jpg">
			<img src="Files/pic2.jpg">
			<img src="Files/pic3.jpg">
			<img src="Files/pic4.jpg">
			<img src="Files/pic5.jpg">
			<img src="Files/pic6.jpg">
			<img src="Files/pic7.jpg">
			<img src="Files/pic8.jpg">
			<img src="Files/pic9.jpg">
			<img src="Files/pic10.jpg">




    	</div>

	{{{body}}}
	</body>
</html>