<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Scavengers</title>
		<link rel="stylesheet" type="text/css" href="../../public/CSS/scavenger.css">
	</head>

	<body>
		<div id="topbar">
			<a href="main.handlebars"><img id ="logo" src="../../public/Files/font_logo.png" alt="lol"></a>	
		</div>
		<div id="menu_bar"> 
		<ul> 
                    <li><a href=""><img id ="nike" src="../../public/Files/nike.png" alt="lol"></a></li>
                    
                    <li><a href=""><img id ="adidas" src="../../public/Files/adidas.png" alt="lol"></a></li>
                    
                    <li><a href=""><img id ="khols" src="../../public/Files/khols.png" alt="lol"></a></li>
                    
                     <li><a href=""><img id ="timberland" src="../../public/Files/timberland.png" alt="lol"></a></li>
                    
                     <li><a href=""><img id ="asos" src="../../public/Files/asos.png" alt="lol"></a></li>
                    
                     <li><a href=""><img id ="hm" src="../../public/Files/h&m.png" alt="lol"></a></li>
                    
                     <li><a href=""><img id ="asics" src="../../public/Files/asics.png" alt="lol"></a></li>
                    
                     <li><a href=""><img id ="uniqlo" src="../../public/Files/uniqlo.png" alt="lol"></a></li>
        </ul>

        </div>


	</body>
</html>