<h1>About Mavericks</h1>
<script type="text/javascript">
	$("a > img").each(function(){
		console.log($(this).height(), $(this).width());
		if(($(this).height() < 350 && $(this).width() < 350) && $(this).attr('class') != "logo") {
			$(this).hide();
		}
	});
</script>
{{#each pics}}
	<div >
		<a href="{{link}}">
			<img src="{{address}}" alt="{{altText}}">
		</a>
		<h3>tags: {{tags}}</h3>
	</div>
{{/each}}