<h1>About Mavericks</h1>
<script type="text/javascript">
	$("h1").click(function(){
		$("h1").hide();
	});
</script>
{{#each pics}}
	<div >
		<a href="{{link}}">
			<img src="{{address}}" alt="{{altText}}">
		</a>
		<h3>tags: {{tags}}</h3>
	</div>
{{/each}}