body {
	background-color: #EFEFEF
}

ul{
	margin:0;
	padding: 0;
}

li {
	display: inline;
}

li :hover {
    background-color: #BFBFBF;
}

#topbar {
	/*width:1000px;
    margin:0 auto;
    height: 40px;*/
    	border-top: 1px solid #CCCCCC;
        background-color: #282828;
        background-position: center top;
        background-repeat: no-repeat;
        width:100%;
        height:130px;

}
#sitelogo {
		display:block;
		margin-top:8px;
        width:250px;
        margin:auto;
        padding: 25px;

}
#nike {
		padding: 13px;
		width: auto;
		height: 39px;
		/*margin-left: 15px;
		margin-right: 15px;*/

}
#adidas {
		padding: 15px;
		width: auto;
		height: 35px;

}
#khols {
		padding: 20px;
		width: auto;
		height: 25px;

}
#timberland {
		padding: 17px;
		width: auto;
		height: 31px;

}
#diesel {
		padding: 16px;
		width: auto;
		height: 33px;

}
#hm {
		padding: 15px;
		width:38px;

}
#asics {
		padding: 15px;
		width: 78px;

}
#uniqlo {
		padding: 14px;
		width: 34px;

}


#menu_bar {
	text-align: center;
	background-color: #D1D1D1;

}

#grid {
	line-height: 0;

	-webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px; 
  margin-top: 8px;
}

#grid img {
	  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

@media (max-width: 1200px) {
  #grid {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
/*@media (max-width: 1000px) {
  #grid {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}*/
@media (max-width: 800px) {
  #grid {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media (max-width: 400px) {
  #grid {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}