body {
	background-color: #EFEFEF
}

ul{
	margin:0;
	padding: 0;
}

li {
	display: inline;
}

li :hover {
    background-color: #BFBFBF;
}

#topbar {
	/*width:1000px;
    margin:0 auto;
    height: 40px;*/
    	border-top: 1px solid #CCCCCC;
        background-color: #282828;
        background-position: center top;
        background-repeat: no-repeat;
        width:100%;
        height:130px;

}
#logo {
		display:block;
		margin-top:8px;
        width:250px;
        margin:auto;
        padding: 25px;

}
#nike {
		padding: 13px;
		width: auto;
		height: 39px;
		/*margin-left: 15px;
		margin-right: 15px;*/

}
#adidas {
		padding: 15px;
		width: auto;
		height: 35px;

}
#khols {
		padding: 20px;
		width: auto;
		height: 25px;

}
#timberland {
		padding: 17px;
		width: auto;
		height: 31px;

}
#asos {
		padding: 16px;
		width: auto;
		height: 33px;

}
#hm {
		padding: 15px;
		width:38px;

}
#asics {
		padding: 15px;
		width: 78px;

}
#uniqlo {
		padding: 14px;
		width: 34px;

}


#menu_bar {
	text-align: center;
	background-color: #D1D1D1;

}



